body {
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
  text-align: center;
  color: #474747;
}

a {
  text-decoration: none;
}

#header {
  padding-top: 20px;
  margin-bottom: 20px;
}

#main-image {
  width: 100%;
  max-height: 550;
}

.section {
  margin-bottom: 100px;
}

#title {
  font-family: 'Amatic SC', cursive;
  font-size: 50pt;
  line-height: 85px;
}

#container {
  margin-right: 10%;
  margin-left: 10%;
}

.section-header {
  font-family: 'Amatic SC', cursive;
  margin-bottom: 15px;
  font-size: 35pt;
}

.hidden {
  display: none;
}

.centered {
  margin-right: 25%;
  margin-left: 25%;
}

.vertical-line {
  width: 1px;
  background-color: #cccccc;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

#hi-fi-prototype {
}

#med-fi-prototype {
}

#low-fi-prototype {
}

.assignment {
  height: 100px;
  position: relative;
  box-sizing: border-box;
} 

.assignment-first {
  margin-right: 10px;
}

.assignment-second {
  margin-left: 10px;
}

.assignment-text {
  font-family: 'Amatic SC', cursive;
  font-size: 25pt;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  color: white;
  font-weight: bold;
  line-height: 100px;
}

.assignment::after {
  background-size: 100% 100%;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  opacity: 0.7;
}

.assignment-hover::after { 
  opacity: 1.0; 
}

#assignment-1::after {
  background-image: url("../images/earthporn1.jpg");
}

#assignment-2::after {
  background-image: url("../images/earthporn2.jpg");
}

#assignment-3::after {
  background-image: url("../images/earthporn3.jpg");
}

#assignment-4::after {
  background-image: url("../images/earthporn4.jpg");
}

#assignment-5::after {
  background-image: url("../images/earthporn5.jpg");
}

#assignment-6::after {
  background-image: url("../images/earthporn6.jpg");
}

#present-1::after {
  background-image: url("../images/present1.jpg");
}

#present-2::after {
  background-image: url("../images/present2.jpg");
}

#present-3::after {
  background-image: url("../images/present3.jpg");
}

#present-4::after {
  background-image: url("../images/present4.jpg");
}
.nav {
  line-height: 85px;
  font-family: 'Amatic SC', cursive;
  font-size: 20pt;
  color: #474747;
}

.nav a {
  text-decoration: none;
  color: #474747;
}

a:hover {
  border-bottom: 2px solid #FFC0CB;
}

.team-desc {
  padding: 10px;
}

.team-pic {
  height: 100px;
  width: 100px;
  -webkit-border-radius: 50%; 
  -moz-border-radius: 50%;
  border-radius: 50%;

}

.name {
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
}

.icon-button {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.icon-button-image-wrapper {
  -webkit-border-radius: 50%; 
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px dashed #FFC0CB;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
  padding: 20px;
}

.icon-button-image-wrapper:hover {
  border: 1px solid #FFC0CB;
  background-color: #FFC0CB;
}

.icon-button-image {
  height: 100%;
  width: 100%;
  margin: auto;
}

.icon-button-text {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
